<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Poesias UPS
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Examen Poesias </ion-title>
        </ion-toolbar>
    </ion-header>



    <div id="container">
        <img src="assets/img/poesia.png" />
        <ion-button color="dark" routerLink="/inicio">Invitado</ion-button>
        <!-- <ion-button color="dark" (click)="loginGoogle2()">Iniciar sesion </ion-button> -->
    </div>
</ion-content>